@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
    font-family: 'Roboto', sans-serif;
}

/* On applique un gris plus clair sur les paragraphes */
p {
    color: #313332;
}
/* La classe 'hover-effect' permettra de créer un effet de zoom quand l'on passera la souris par dessus les elements images enfants  */
.hover-effect img {
    transition: all 0.33s ease-in-out;
    transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
    transition: all 0.33s ease-in-out;
    transform: scale(1.05) translateY(-10px);
}


/* HEADER */


#site-header.sticky-top {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #C8D6CF;
}

/* LIENS DU MENU */ 
li.menu-item a {
    color: #313332 !important;
    display: inline-block;
    padding: 10px 25px;
    background-color: #F4CA52;
    border-radius: 10px;
    text-align: center;
}

li.menu-item a:hover,
li.menu-item.current-menu-item a {
    color: #F4CA52 !important;
    background-color: #313332;
    text-decoration: none !important;
}


/* FOOTER */
.footer-nav-widgets-wrapper {
    padding: 20px;
    background-color: #C8D6CF !important;
}

.footer-nav-widgets-wrapper .widgettitle,
.footer-nav-widgets-wrapper .menu {
    text-align: center;
}


#site-footer {
    padding: 20px;
    text-align: center;
    color: #6d6d6d;
    background-color: #C8D6CF !important;
}


/* A PROPOS */


#apropos h1 {
    text-align: center;
    font-size: 40px;
}
#apropos > section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
#apropos > section h2 {
    width: 100%;
    padding: 0 15px;
    font-size: 30px;
}
#apropos > section .image {
    width: 300px;
    padding: 0 15px;
}
#apropos > section .image img {
    width: 100%;
}
#apropos > section .text {
    flex: 1;
}
@media( max-width: 768px){
    #apropos > section > *{
        width: 100%;
        flex: initial!important;
    }
    #apropos > section .image{
        order:2;
    }
}


/* LEXIQUE */

#lexique h1 {
    text-align: center;
    font-size: 40px;
}

#lexique > section {
    max-width: 1200px;
    margin: auto;
}

#lexique .mot {
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0 20px 20px 20px;
    overflow: hidden;
    cursor: pointer;
}

#lexique .mot .down {
    display: inline-block;
}

#lexique .mot .up {
    display: none;
}

#lexique .mot.open .down {
    display: none;
}

#lexique .mot.open .up {
    display: inline-block;
}

#lexique .mot .titre {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #c8d6cf;
    font-size: 20px;
    font-weight: bold;
}

#lexique .mot .definition {
    padding: 10px 20px;
    display: none;
}

#lexique .mot.open .definition {
    padding: 10px 20px;
    display: block;
    background: #F4CA52;
}
