/* CSS POUR LE WIDGET .bloc-lien-image-widgett */
.bloc-lien-image-widget{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
    background-position: center center;
    background-size: cover;
}
.bloc-lien-image-widget:before{
    content: "";
    position: absolute;
    z-index: 1;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
}
.bloc-lien-image-widget .titre{
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    color: white;
    font-size: 25px;
}
